.background {
    background-size: cover;
    min-height: 100vh;
    z-index: 1; // Define um z-index menor para o background
    position: relative;
  
    &::before {
      background: url('../../assets/background.png') no-repeat center center fixed;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; // Define um z-index menor para o pseudo-elemento
    }
  }
  